body {
  font-family: 'Maven Pro', sans-serif;
  font-size: 1em;
	background-color: #2ECCFA;
  background-image: url(../img/PKM.png);
  background-size: 100%;
  background-position: fixed;
  text-align: center;
}



/*juego*/


#juego{
  position:relative;
  width:600px;
  height:600px;
  margin: 0px 30px;
  padding: 1px;
  border: 3px solid #5269a6;
  background-image: url(../img/fondo.png);
  background-size: 602px;
  background-position: center;
}
.pieza{
  position:absolute;
  width:200px;
  height:200px;
  background-position:center center;
  background-size: cover;
  border: 1px solid #D8D8D8;
 }

.principal {
  width: 50%;
  float: left;
  margin: auto;
}
.secundario {
  width: 50%;
  margin:auto;
  float: right;
}
.img {
  width: 505px;
  height: 505px;
  margin: 45px auto 0 auto;
  display:block;
  border: 10px solid #5269a6;
}
h1{
  margin: 0px;
  text-align: center;
  color: #F2F2F2;
  text-shadow: 0 0 2px #A4A4A4;
  font-weight: bold;
}





/*Index*/





.inicio {
  width: 900px;
  height: 550px;
  margin: 20px auto 0 auto;;
  padding: 1% 4%;
  background-color: #fff;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 30px;
}

h2{
  margin-bottom: 5px;
  font-size:350%;
  text-align: left;
  text-decoration: underline;
  letter-spacing: 2px;
  color: #2E9AFE;
}
h3{
  text-align: left;
  margin: 3px;
  font-size: 120%;
}
h4{
  text-align: left;
}
ul{
  margin: 0;
}
li{
  text-align: left;
  line-height: 50px;
}
.descripcion {
  width:  50%;
  float: left;
}
.gif {
  width: 50%;
  margin: 10% auto 0 auto;
  float: right;
}
.ejemplo{
  width: 70%;
  height: 100%;
  display: block;
  margin: 50px auto 0 auto;
}
.jugar{
  box-sizing: border-box;
  float: right;
}
.button {
    display: inline-block;
    padding: 1em;
    background-color: #2E9AFE;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/*img teclado */
.teclado{
  width: 50px;
  height: 50px;
}
